.bizz__card{
  padding: 10px;
  color: black;
  text-shadow: none;
  background: rgba(255,255,255,.3);
  margin-right: 5px;
  color: black;
}
.attractionDropdown{
  border-radius: 5px;
  box-shadow: .5px .5px .5px 0px goldenrod, inset 4px 4px 15px 0px gainsboro, 5px 5px 15px 5px rgba(0,0,0,0);
}

.attractionDropdown__card{
  padding-top: 40px;
}
 
 .attractionDropdown:hover{
   border-color: goldenrod;
 }

 .bizz__style {
  background-color: #C4C3D0;
  border: 15px double #1C6EA4;
  border-radius: 40px 10px 40px 10px;
}