.container{
  display: flex;
  border: 1px solid black
}

.mainContent{
  display: flex;
  flex-basis: 70%;
  border: 1px solid black;
  flex-wrap: wrap;
}

.bottomSection{
  display: flex;
  flex-basis: 100%;
  border: 1px solid black;
  height: 500px;
  min-width: 1050px;
}
.parkSection{
  width: 100%;
}

.bizzareSection{
  flex-basis: 50%;
  border: 1px solid black;
}

.eaterySection{
  flex-basis: 50%;
  border: 1px solid black;
}

aside{
  flex-basis: 30%;
  border: 1px solid black;
}