.container{
  display: flex;
}

.mainContent{
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
}

.bottomSection{
  display: flex;
  flex-basis: 100%;
  border-top: 1px solid black;
  height: 500px;
  min-width: 1050px;
  margin-right: 10px;
  
}
.parks{
  width: 100%;
  min-height: 1000px;
}

.bizzareSection{
  flex-basis: 50%;
  border: none;
}

.eaterySection{
  flex-basis: 50%;
  border: none;
}

aside{
  margin-top: 40px;
  flex-basis: 40%;
  border: 1px solid black;
}