.parks {
    color: black;
    text-align: center;
    font-weight: bold;
    }

.park__header {
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: center;
    size: 30px;

}
#h {
    padding-top: 30px;
    background-image: none;
}

.dropdown {
    margin-top: 50px;
}
